<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Kim Min-ji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <br>

  <ion-thumbnail>
    <img alt="" src="https://img.wattpad.com/d32516ef969505379da9353e25304f97060d2d0e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f375779566b694d446f73336834673d3d2d313235353534353230392e31373163636166646533336333623333353938393738333230332e6a7067?s=fit&w=720&h=720"/>
  </ion-thumbnail>

  <br>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Dados</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>Nome: Kim Min-ji (김민지)</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>Aniversário: 07 de Maio de 2008</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>E-mail: minjik@outlook.com</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>ID: 00000001-0</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>
