<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Hanni Pham</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <br>

  <ion-thumbnail>
    <img alt="" src="https://img.wattpad.com/d188022e099020808c2096f1c8e9e93eb70fd5bd/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f7a734846325038467459456854773d3d2d313235353630353432312e313731636362346539613466663836373135353138383430303735352e6a7067?s=fit&w=720&h=720"/>
  </ion-thumbnail>

  <br>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Dados</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>Nome: Hanni Pham / Phạm Ngọc Hân</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>Aniversário: 06 de Outubro de 2005</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>E-mail: phhanni@outlook.com</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>ID: 00000004-0</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>
