<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Danielle Marsh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <br>

  <ion-thumbnail>
    <img alt="" src="https://image.kpopmap.com/2022/07/NewJeans-Danielle-072722-1.jpg"/>
  </ion-thumbnail>

  <br>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Dados</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>Nome: Danielle Marsh</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>E-mail: daniellem@hotmail.com</ion-label>
        </ion-item>

        <br>
        <br>

        <ion-item lines="none">
          <ion-label>ID: 00000003-0</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>
